<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Featured</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Featured</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center;">
        <img height="65%" width="auto" src="..\..\assets\images\banner.jpeg">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-header>
          <ion-title  style="background-color: aliceblue; text-align: center; color: black;">Hot Sellers!</ion-title>
        </ion-header>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <swiper-container [modules]="swiperModules" [slidesPerView]="3" [loop]="true">
          <swiper-slide>
            <ion-card>
              <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
            </ion-card>
          </swiper-slide>
        </swiper-container>
      </ion-col> 
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-header>
          <ion-title  style="background-color: aliceblue; text-align: center; color: black;">Get it before its gone!</ion-title>
        </ion-header>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <swiper-container [modules]="swiperModules" [slidesPerView]="3" [loop]="true">
          <swiper-slide>
            <ion-card>
              <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
            </ion-card>
          </swiper-slide>
        </swiper-container>
      </ion-col> 
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-header>
          <ion-title  style="background-color: aliceblue; text-align: center; color: black;">New Arrivals!</ion-title>
        </ion-header>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <swiper-container [modules]="swiperModules" [slidesPerView]="3" [loop]="true">
          <swiper-slide>
            <ion-card>
              <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
            </ion-card>
          </swiper-slide>
        </swiper-container>
      </ion-col> 
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-header>
          <ion-title  style="background-color: aliceblue; text-align: center; color: black;">Sales!</ion-title>
        </ion-header>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <swiper-container [modules]="swiperModules" [slidesPerView]="3" [loop]="true">
          <swiper-slide>
            <ion-card>
              <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
            </ion-card>
          </swiper-slide>
        </swiper-container>
        <ion-row>
          <ion-col>
            <ion-header>
              <ion-title  style="background-color: aliceblue; text-align: center; color: black;">Last Chance Buys!</ion-title>
            </ion-header>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <swiper-container [modules]="swiperModules" [slidesPerView]="3" [loop]="true">
              <swiper-slide>
                <ion-card>
                  <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
                </ion-card>
              </swiper-slide>
              <swiper-slide>
                <ion-card>
                  <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
                </ion-card>
              </swiper-slide>
              <swiper-slide>
                <ion-card>
                  <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
                </ion-card>
              </swiper-slide>
              <swiper-slide>
                <ion-card>
                  <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
                </ion-card>
              </swiper-slide>
              <swiper-slide>
                <ion-card>
                  <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
                </ion-card>
              </swiper-slide>
              <swiper-slide>
                <ion-card>
                  <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
                </ion-card>
              </swiper-slide>
              <swiper-slide>
                <ion-card>
                  <img height="35%" width="auto" src="..\..\assets\images\banner.jpeg">
                </ion-card>
              </swiper-slide>
            </swiper-container>
          </ion-col> 
        </ion-row>
      </ion-col> 
    </ion-row>
  </ion-grid>
</ion-content>
